/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1e293b;
  height: 100vh;
}
.heading1 {
  font-size: 60px;
  color: #f0bb03;
  font-weight: bold;
  font-family: 'Bree Serif';
  padding: 0px;
}
.heading2 {
  font-size: 40px;
  padding-bottom: 5px;
  font-family: 'Bree Serif';
}
.s-button {
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  font-weight: bold;
}
